<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#/account">Accounts</a>
    </li>
    <li><a ng-href="#/match">Match</a>
    </li>
  </ul>
  <h3 class="text-muted">Reconcile</h3>
</div>

<div class="container">

  <div class="row">

    <button type="submit" class="btn btn-default btn-success" ng-click="add()">Add Account</button>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row">
    <table class="table">
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
      <tr ng-repeat="account in accounts">
        <td>{{account.name}}</td>
        <td>
          <button type="button" class="btn btn-default btn-xs btn-danger" ng-click="remove($index)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="footer">
  <p>Reconcile from Skyraid</p>
</div>
